#jinja2: lstrip_blocks: True
# {{ ansible_managed }}

<VirtualHost {{ item.listen | default('*:80') }}>
    {% for module, config in item.directives|dictsort(true) %}
        {% if module != "ssl" %}
            {% if module != "core" %}
                <IfModule {{ module }}_module>
            {% endif %}
            {% for directive, value in config|dictsort(true) %}
                {% if value is string or value is number %}
                    {{ directive }} {{ value }}
                {% elif value is iterable %}
                    {% for element in value %}
                        {{ directive }} {{ element }}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% if module != "core" %}</IfModule>{% endif %}
        {% endif %}

    {% endfor %}

    CustomLog {{ "${APACHE_LOG_DIR}/" ~ item.directives.core.ServerName ~ "_access.log" }} combined
    ErrorLog {{ "${APACHE_LOG_DIR}/" ~ item.directives.core.ServerName ~ "_error.log" }}
</VirtualHost>

{% if item.directives.ssl.SSLCertificateFile is defined and item.directives.ssl.SSLCertificateKeyFile is defined %}
<IfModule ssl_module>
    <VirtualHost *:443>
        SSLEngine on
        <Directory ./>
            SSLRequireSSL
        </Directory>

        {% for module, config in item.directives|dictsort(true) %}
            {% if module != "core" %}
                <IfModule {{ module }}_module>
            {% endif %}
            {% for directive, value in config|dictsort(true) %}
                {% if value is string or value is number %}
                    {{ directive }} {{ value }}
                {% elif value is iterable %}
                    {% for element in value %}
                        {{ directive }} {{ element }}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% if module != "core" %}</IfModule>{% endif %}

        {% endfor %}

        CustomLog {{ "${APACHE_LOG_DIR}/" ~ item.directives.core.ServerName ~ "_access.log" }} combined
        ErrorLog {{ "${APACHE_LOG_DIR}/" ~ item.directives.core.ServerName ~ "_error.log" }}
    </VirtualHost>
</IfModule>
{% endif %}
