#jinja2: lstrip_blocks: True
# {{ ansible_managed }}

<VirtualHost {{ item.listen | default('*:80') }}>
    {% for directive, value in item.directives|dictsort(true) %}
        {% if value is string %}
            {{ directive }} {{ value }}
        {% elif value is iterable %}
            {% for element in value %}
                {{ directive }} {{ element }}
            {% endfor %}
        {% endif %}
    {% endfor %}

    CustomLog {{ "${APACHE_LOG_DIR}/" ~ item.directives.ServerName ~ "_access.log" }} combined
    ErrorLog {{ "${APACHE_LOG_DIR}/" ~ item.directives.ServerName ~ "_error.log" }}
</VirtualHost>

{% if item.directives.SSLCertificateFile is defined and item.directives.SSLCertificateKeyFile is defined %}
<IfModule mod_ssl.c>
    <VirtualHost *:443>
        SSLEngine on
        <Directory ./>
            SSLRequireSSL
        </Directory>

        {% for directive, value in item.directives|dictsort(true) %}
            {% if value is string %}
                {{ directive }} {{ value }}
            {% elif value is iterable %}
                {% for element in value %}
                    {{ directive }} {{ element }}
                {% endfor %}
            {% endif %}
        {% endfor %}

        CustomLog {{ "${APACHE_LOG_DIR}/" ~ item.directives.ServerName ~ "_access.log" }} combined
        ErrorLog {{ "${APACHE_LOG_DIR}/" ~ item.directives.ServerName ~ "_error.log" }}

    </VirtualHost>
</IfModule>
{% endif %}
