#jinja2: lstrip_blocks: True
# {{ ansible_managed }}

# Global
{% for directive, value in apache.config|dictsort(true) %}
    {% if value is string or value is number %}
    	{{ directive }} {{ value }}
    {% elif value is iterable %}
        {% for element in value %}
        	{{ directive }} {{ element }}
        {% endfor %}
    {% endif %}
{% endfor %}

<IfModule mod_ssl.c>
{% for directive, value in apache.ssl|dictsort(true) %}
    {% if value is string or value is number %}
        {{ directive }} {{ value }}
    {% elif value is iterable %}
        {% for element in value %}
            {{ directive }} {{ element }}
        {% endfor %}
    {% endif %}
{% endfor %}
</IfModule>

{% for section in apache.sections.DirectoryMatch | default([]) %}
	{% for directory, rules in section|dictsort(true) %}
		<DirectoryMatch "{{ directory }}">
	        {% for rule in rules %}
	            {{ rule }}
	        {% endfor %}
	    </DirectoryMatch>
	{% endfor %}
{% endfor %}

{% for section in apache.sections.FilesMatch | default([]) %}
	{% for directory, rules in section|dictsort(true) %}
		<FilesMatch "{{ directory }}">
	        {% for rule in rules %}
	            {{ rule }}
	        {% endfor %}
	    </FilesMatch>
	{% endfor %}
{% endfor %}

{% for section in apache.sections.Directory | default([]) %}
	{% for directory, rules in section|dictsort(true) %}
		<Directory "{{ directory }}">
	        {% for rule in rules %}
	            {{ rule }}
	        {% endfor %}
	    </Directory>
	{% endfor %}
{% endfor %}